* {
   margin: 0px;
   padding: 0px;
}
body{
    color: rgb(17, 17, 17);
}
header{
    background-color: rgb(246, 243, 210);
    display: flex;
    justify-content: space-around;
    padding: 1px;
    margin-bottom: 12px;
}

header p {   
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    
}
main{
    display: flex;
    justify-content: center;
    
}

main div {
    background-color: rgb(100, 115, 249);
    display: flex;    
    width: 300px;
    margin: 120px; 
    justify-content: center;
    
}

footer{
    background-color: rgb(226, 199, 251);
    text-align: center;
    color: aliceblue;
    
}



