* {
   margin: 0px;
   padding: 0px;
}
body{
    color: rgb(17, 17, 17);
}

header{
    background-color: rgb(246, 243, 210);
    display: flex;    
    
}

header p {       
    padding: 100px 300px;
    font-family: 'Times New Roman', Times, serif;
    
}

main{
    background-color: aqua;
}

main section{
    display: flex;
    justify-content: center;
    
    
}

main div {
    background-color: rgb(100, 115, 249);
    display: flex;    
    width: 100%;
    margin: 50px; 
    justify-content: center;
    color: aliceblue;
    
}

footer{
    background-color: rgb(248, 37, 37);
    text-align: center;
    color: aliceblue;    
}



